[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
flask-login = "*"
flask-mail = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.6"
